body {
  background-color: #fff;
}
* {
  outline: 0 !important;
  text-shadow: none !important;
}

.home {
  background-color: linear-gradient(to right, rgb(0, 0, 0), #010d55);
}

.login button {
  color: #fff;
  text-transform: none;
  font-size: 1.2rem;
}

.login button:hover {
  color: #ff00008f;
}

.login .line {
  border-bottom: 1px solid red;
  width: 100%;
  bottom: 10px;
}
.Container .straight {
  color: #fff;
  width: 100%;
  height: 2px;
}
.section {
  background-color: #e9f6fb;
}
